* {
    font-family: "Poppins", sans-serif;
}

.flight-request-tabs {
    color: rgba(0, 0, 0, 1) !important;
    ;

}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #307ECC inset !important;
    -webkit-text-fill-color: red !important;
} */